.loginAndRegisterButton{
    -fx-background-radius: 20 ;
    -fx-background-color: rgba(0,181,255,0.85);
    -fx-font-size: 16;
    -fx-font-style: oblique;
    -fx-cursor: hand;
}
.loginAndRegisterButton:hover{
    -fx-effect: dropshadow(gaussian, rgba(0 , 0 , 1 , 10), 10, 0.2 , 5 , 5);
}